visual-studio-code
tmux
wget
gcc
karabiner-elements
1password
1password-cli
starship
fish
rectangle
orbstack
insomnia
raycast
remnote
via
arc
direnv
postgresql@15
kubectx
kubernetes-cli
awscli
helm@3
gh
jq
yq
bat
ripgrep
neovim
zoxide
tcpdump
k9s
openlens
wezterm
tfenv
aws/tap/eks-node-viewer
saml2aws
hashicorp/tap/vault
thefuck
atuin
homebrew/cask-fonts/font-caskaydia-mono-nerd-font
xplr
tmuxinator
dbeaver-community
hammerspoon
tunnelblick
lsd
croc
fzf
gitbutler
go
pyenv
nvm
tldr
step
libpq
fisher
opa
argocd
zoom
aicommits
kubeseal
discord
telnet
google-chrome
slack
mas
go
tableplus
yamlfmt
click
aws-vpn-client
jsonnet
cue-lang/tap/cue
istioctl
